pandas
numpy
plotly
streamlit
gdown
streamlit_option_menu
streamlit-aggrid
PyGithub
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dotenv
sqlalchemy
requests
openpyxl
